html {
    font-size: large;
}

body {
    text-align: center;
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    font-family:"Ubuntu", sans-serif;
}

#class {
    font-size: medium;
    text-align: center;
}

table {
    margin: 0 auto;
}