<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Delete Movies</title>
        <link rel="stylesheet" href="deletestyle.css"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
	</head>

    <h1>Deletion of All Movies in the Database</h1>
	<body>
		<div id="del">
			All movies have been removed from the database. We have deleted <%- count %> movie(s) <br>
		</div>
		<div id="class"><a href="http://localhost:<%- port %>">HOME</a></div>
	</body>

	<img src = "thumbsup.jpg" alt = "" width = "660" height = "300">
</html>