<!--search lookup page-->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Movie Search</title>
    <link rel="stylesheet" href="searchstyle.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
</head>

<body>
    <h1>Search Results</h1>
    Unfortunately, no movies were find based on your search :/
    <div id="class"><a href="http://localhost:<%- port %>">HOME</a></div>
</body>

</html>